body {
  background-color: #f8f9fa;
}

a {
  display: inline-block;
  /* margin: 20px; */
  text-decoration: none !important;
  transition: 250ms
}

.App {
  /* text-align: center; */
  background-color: #f8f9fa !important;
  border-radius: 6px;
  height: 100vh
}

.block {
  display: block;
}

.loginForm {
  margin: 15px;
}

.patient-nav {
  border-radius: 6px;
  padding: 0px;
}

.patient-form {
  margin: 15px;
}

.single-item {
  background-color: #fff;
}

h1 {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}